.navbar { 
	text-decoration: none;
	background-color: #F1F1F1;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	font-size: 20px;
	background-size: auto;
}

a:link { 
	text-decoration: none; 
	padding: 5px;
}
a:visited { text-decoration: none; }
a:hover { 
	text-decoration: none; 
	filter: brightness(1.2)

}

.active{
	background-color: #F1F1F1;
	color: #000000;
	text-decoration: none;
}


